<!DOCTYPE html>
<html>
    <head>
        {% load static %} 
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">   
        <meta http-equiv="Content-Type"
        content="=text/html; charset = utf-8">
        <title>
            Гид по вкусным точкам России
        </title>
    </head>
    <body>
        <div id = "content">
            <header>
                <div id = "name">
                    <h1 >Путешествуй со вкусом!</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href = "{% url 'home' %}"><span class="tooltip">Главная страница</span></a></li>
                        <li><a href="{% url 'point' %}"><span class="tooltip"></span>Вкусные точки</span></a></li>
                        <li><a href = "{% url 'contacts' %}"><span class="tooltip"></span>О нас</span></a></li>
                    </ul> 
                </nav>
                <div class="actions">
                    {% if user.is_authenticated %}
                        <!-- Если пользователь авторизован, показываем кнопку "Выйти" -->
                        <form action="{% url 'logout' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="auth">Выйти</button>
                        </form>
                    {% else %}
                        <!-- Если пользователь не авторизован, показываем кнопки "Войти" и "Регистрация" -->
                        <button><a href="{% url 'login' %}" class="auth">Войти</a></button>
                        <button><a href="{% url 'register' %}" class="auth">Регистрация</a></button>
                    {% endif %}
                </div>
            </header>
        </div>
        <div id = "main">
            <div class="contact-container">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                      <div class="form-field"> <!-- Новый контейнер для каждого поля -->
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                          <div class="error-message">{{ field.errors }}</div>
                        {% endif %}
                      </div>
                    {% endfor %}
                    <div class="button-container">
                        <button type="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    <footer>
        <a href="{% url 'contacts' %}">Свяжитесь с нами!</a>
    </footer>
    </body>
</html>