<!DOCTYPE html>
<html>
    <head>
        {% load static %} 
        <link href = "{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">   
        <meta http-equiv="Content-Type"
        content="=text/html; charset = utf-8">
        <title>
            Гид по вкусным точкам России
        </title>
    </head>
    <body>
        <div id = "content">
            <header>
                <div id = "name">
                    <h1 >Путешествуй со вкусом!</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href = "{% url 'home' %}"><span class="tooltip"><b>Главная страница</b></span></a></li>
                        <li><a href="{% url 'point' %}"><span class="tooltip"><b>Вкусные точки</b></span></a></li>
                        <li><a href = "{% url 'contacts' %}"><span class="tooltip"><b>О нас</b></span></a></li>
                    </ul> 
                </nav>
                <div class="actions">
                    {% if user.is_authenticated %}
                        <!-- Если пользователь авторизован, показываем кнопку "Выйти" -->
                        <form action="{% url 'logout' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="auth">Выйти</button>
                        </form>
                    {% else %}
                        <!-- Если пользователь не авторизован, показываем кнопки "Войти" и "Регистрация" -->
                        <button><a href="{% url 'login' %}" class="auth">Войти</a></button>
                        <button><a href="{% url 'register' %}" class="auth">Регистрация</a></button>
                    {% endif %}
                </div>
            </header>
        </div>
            
        <div id = "main">
            <div id="start">
                <div id="startimg">
                    <img src="{% static 'img/start-img.png' %}" alt="Баннер">
                </div>
                <div id="starttext">
                    <p id="strtt"><b>Ищешь вкусное приключение? Мы знаем, где оно!</b></p>
                    <p>Можете ознакомиться с доступными проверенными точками и выбрать свое любимое место в любой точке мира.<br>Наш умный поиск предложит Вам похожие места.<br>Получите незабываемый опыт гастрономического путешествия</p>
                </div>
            </div>
            <div id="content">
                <p>
                    <div id="npt">
                        <p id="nav-points-text"><b>Направления вкусных точек:</b></p>
                    </div>
                    <ul class="custom-list">
                        <li class="points" style="background-image: url('static/img/restaurant.jpg');">
                            <span>Рестораны</span>
                            <span class="hover-text">Ищете изысканный вечер с безупречным сервисом и восхитительными блюдами? Наши рестораны предлагают широкий выбор кухонь мира, от традиционной русской до экзотических азиатских деликатесов. </span>
                        </li>
                        <li class="points" style="background-image: url('static/img/cafe.jpg');">
                            <span>Кафе</span>
                            <span class="hover-text">Кафе – идеальное место для встречи с друзьями, неторопливого обеда или просто чашечки ароматного кофе. Уютная атмосфера, разнообразие легких блюд, десертов и напитков делают наши кафе прекрасным выбором для любого времени дня. </span>
                        </li>
                        <li class="points" style="background-image: url('static/img/bar.jpg');">
                            <span>Бары</span>
                            <span class="hover-text">Наши бары – это место, где можно отдохнуть после рабочего дня, провести вечер в компании друзей или насладиться живой музыкой. Широкий выбор алкогольных и безалкогольных напитков, авторские коктейли и закуски на любой вкус сделают ваш вечер незабываемым.</span>
                        </li>
                        <li class="points" style="background-image: url('static/img/snack.jpg');">
                            <span>Закусочные</span>
                            <span class="hover-text">Если вы ищете быстрый и вкусный перекус, наши закусочные – это то, что вам нужно. Разнообразие сэндвичей, бургеров, пиццы и других популярных блюд, приготовленных из свежих ингредиентов, позволит вам быстро подкрепиться и продолжить свои дела.</span>
                        </li>
                        <li class="points" style="background-image: url('static/img/coffee.jpg');">
                            <span>Кофейни</span>
                            <span class="hover-text">Для настоящих ценителей кофе наши кофейни предлагают широкий выбор ароматных напитков, от классического эспрессо до авторских кофейных коктейлей. Насладитесь утренней чашкой кофе, поднимите себе настроение в середине дня или просто отдохните в уютной обстановке. </span>
                        </li>
                    </ul>
                </p>
            </div> 
        </div> 
        <footer>
            <a href="{% url 'contacts' %}">Свяжитесь с нами!</a>
        </footer>
    </body>
</html>